@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Quicksand&family=Saira:ital,wght@1,300;1,400&display=swap);

:root {
  /* --royal-blue-dark: #1a2a68;
  --green-blue-crayola: #1789c9;
  --apple-green: #94c200;
  --avocado: #667f00;
  --deep-saffron: #ef9740;
  --jet: #3a3532;
  --raisin-black: #292524;
  --cardinal: #c12e3e;
  --claret: #6a1727; */

  --primary-bg-color: #1a1a1a;
  --secondary-bg-color: #333333;
  --terinary-bg-color: #4d4d4d;

  --primary-red-accent: #e2838e;
  --secondary-red-accent: #c12e3e;
  --primary-blue-accent: #a4d7f4;
  --secondary-blue-accent: #1789c9;

  --primary-color: #ffffff;

  --primary-liner-gradient-accent: linear-gradient(
    45deg,
    #94c200 0%,
    #4eff10 35%,
    #00ff7f 85%
  );
  /* --secondary-liner-gradient-accent: linear-gradient( 
    22deg,
    #94c200 0%,
    #1a2a68 35%,
    #1789c9 85%
  ); */
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-bg-color);
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
button {
  cursor: pointer;
}

/***   HEADER SECTION   ***/

.header {
  font-size: 24px;
  font-weight: 600;
  height: 45px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-left: 100px;
  background: var(--primary-liner-gradient-accent);
}

/***   MAIN SECTION   ***/

.main {
  flex: 1;
  height: 100%;
  background-color: var(--primary-bg-color);
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "nav display";
}

/***   NAV SECTION   ***/

.nav {
  grid-area: nav;
  background-color: var(--secondary-bg-color);
  padding: 30px;
}

.controls {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "all all"
    "today week"
    "important completed";
  gap: 2.5px;
  padding-bottom: 30px;
}
.all {
  grid-area: all;
}
.today {
  grid-area: today;
}
.week {
  grid-area: week;
}
.important {
  grid-area: important;
}
.completed {
  grid-area: completed;
}

.task-nav {
  width: 100%;
}

/***   DISPLAY SECTION   ***/
.display {
  padding: 30px;
  color: var(--primary-color);
}
.content-header {
  display: flex;
  justify-content: space-between;
}
.task-title {
  font-size: 24px;
}
.task-btn {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.task-btn:hover {
  background: var(--avocado);
}

.task-btn::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\2b";
  margin-top: 2px;
  color: #00ff7f;
}
.title-span {
  content: " ";
  width: 98.5%;
  height: 2px;
  margin: 4px 4px 0;
  border-radius: 10px;
  background: var(--terinary-bg-color);
}
.taskinputcnt {
  border-bottom: 2px solid var(--terinary-bg-color);
  border-radius: 0 0 5px 5px;
  padding: 10px 25px 10px 25px;
  display: none;
  margin-bottom: 3px;
}
.visible {
  display: block;
}
.taskinputcnt0 {
  display: flex;
  justify-content: space-between;
}
.taskinputcnt1 {
  width: 350px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "task task"
    "date priority";
  grid-gap: 3px;
}
.taskinputcnt2 {
  display: flex;
  flex-direction: column;
}
#task,
#date,
#priority {
  padding: 2px 4px;
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-blue-accent);
  border-radius: 5px;
  background: var(--secondary-bg-color);
}

#task {
  grid-area: task;
  padding: 4px 8px;
}
#date {
  grid-area: date;
}
#priority {
  grid-area: priority;
}
.task-cnt0 {
  padding: 5px 20px 5px;

  display: flex;
  justify-content: space-between;
}
.task-check {
  display: none;
}
.task-check-lbl::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f1ce";
}
.task-check:checked + .task-cnt0,
.task-check:checked ~ .task-span {
  display: none;
}
.task-cnt1,
.task-cnt2 {
  display: flex;
  gap: 20px;
}
.task-edit,
.task-delete {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.task-edit::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f304";
  color: #a4d7f4;
}
.task-delete::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\58";
  color: #e2838e;
}
.task-edit:hover::before {
  color: #1789c9;
}
.task-delete:hover::before {
  color: #c12e3e;
}
.task-span {
  content: " ";
  width: 96%;
  height: 1px;
  margin: 4px 20px;
  border-radius: 10px;
  background: var(--terinary-bg-color);
}
/***   FOOTER SECTION   ***/

.footer {
  background: var(--primary-liner-gradient-accent);
  border-top: var(--primary-accent) solid 2px;
  color: var(--primary-accent);
  padding: 10px 0px 4px 0px;
  font-size: 18px;
  text-align: center;
}

.fa-code {
  font-size: 18px;
  color: var(--cardinal);
  transition: transform 0.5s ease-in-out;
}

.fa-github {
  font-size: 20px;
  color: var(--secondary-liner-gradient-accent);
  transition: transform 0.5s ease-in-out;
}

.fa-code:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.1);
}

.fa-github:hover {
  transform: rotate(720deg) scale(1.2);
}

.odin:hover {
  transform: scale(1.2);
}
